@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic');

// Bootstrap
@import "bootstrap.config";

// Bootstrap override
@import "bootstrap.override";

// PrismJS syntax highlighting
@import "../vendor/prismjs/themes/prism";

// Custom
.selfie {
  max-width: 160px;
}

.pt20 {
  padding-top: 20px;
}

.blog-content img {
  display: block;
  width: 100%;
  height: auto;
}